<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neuroscience Graph Maker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript">
        // jQuery Ready Up
        $(document).ready(function(){
            // jQuery code goes here
            // Check when file changes
            var ALLOWED_EXTENSIONS = ['.mat'];

            $("#uploadbox").hide();
            $("#greyout").hide();

            function allowed_file(filename){
                return filename.includes(".") && ALLOWED_EXTENSIONS.includes("." + filename.split(".").slice(-1));
            }

            $("#theFile").change(function(){
                if (this.value){
                    $("#filename").text(this.value.split('\\').pop());
                }
                else{
                    $("#filename").text("No file chosen");
                }
            });
            // Open file dialog when import is pressed
            $(".importbtn").click(function(){
                $("#theFile").trigger("click");
            });
            // Submit - read file and generate the chart from that data.
            // You will need to give the file to Riley's python file
            $(".submitbtn").on("click", function(){
                if($("#theFile").get(0).files.length != 0){
                    if(allowed_file($("#theFile").get(0).files[0].name)){
                        $("#uploadbox").show();
                        $("#greyout").show();
                        $("#target").submit();
                    }
                    else{
                        alert("Please select a file with the extension '.mat'");
                    }
                }
                else{
                    alert("Please select a file");
                }
            });
        });

    </script>
</head>
<body>
    <div id="greyout" style="position:fixed; height:100%; width:100%; background-color:rgba(0, 0, 0, 0.9); z-index:999;"></div>
    <div id="uploadbox" class="center" style="min-height:200px; min-width: 300px; background-color:LightGrey; box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);">
        <p style="position:absolute; margin:auto; top:50%; left:50%; transform:translate(-50%, -50%);">Uploading File...</p>
    </div>
    <div class="box">
        <div id="header" style="flex: 0 1 auto"><h2>Neuroscience Graph Maker</h2></div>
        <div id="importfilecontainer" style="position: relative; height: 100%; display:flex; flex-flow:column;">
            <div class="centerpretty">
                <div style="text-align:center;">
                    <div style="display:inline-block;">
                        <div>
                            <div style="position:relative; left:50%; transform:translate(-50%, 0); z-index:100;">
                                <button class="importbtn" style="">Import MATLAB File</button>
                            </div>
                        </div>
                        <div style="position:relative; text-align:center;">
                            <p id="filename">No file chosen</p>
                        </div>
                    </div>
                </div>
                <div style="position:relative; left:50%; transform:translate(-50%, 0); z-index:100; top:50px;">
                    <button class="submitbtn" style="">Generate Chart</button>
                </div>
            </div>
        </div>
    </div>
    <form id="target" action="/upload" enctype="multipart/form-data" method="post">
        <input id="theFile" name="file" type="file" accept=".mat" style="position: fixed; top: -100em">
    </form>
    <div id="footer">
		<p>© Riley Taylor and William Stark, 2016-2018.</p>
        <p>If you're having any issues, <a href="mailto:rjtaylor707@gmail.com">email us.</a></p>
	</div>
</body>
</html>